{{ #Start }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" href="#{{ Id }}">{{ Title }}
            <i class="icon-sort-up pull-right"></i>
            </a>
        </h4>
    </div>
    <div id="{{ Id }}" class="panel-collapse {{ State }}">
        <div class="panel-body">
{{ /Start }}

{{ #End }}
        </div>
    </div>
</div>
{{ /End }}