{{ #Start }}
    <div class="tab-pane {{ State }}" id="{{ Id }}">
        <div class="panel">
            <div class="panel-body">
{{ /Start }}
                
{{ #End }}
            </div>
        </div>
    </div>
{{ /End }}

